* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: rgba(12, 12, 12, 0);
    font-size: 0px;
    border-width: 1px;
}

button {
    border-width: 1px;
    border-radius: 1000px;
    border-color: rgba(56, 56, 56, 0.8);
	background-color: rgba(48, 48, 48, 0.8);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
}

button:focus, button:active {
	background-color: rgba(56, 56, 56, 1);
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
}

#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}
